body{
    width: 450px;
    height: 562px;
}

.main{
    height: 100%;
}

.greeting {
    height: 50px;
}

.progressContainer{
    height: 50px;
}

.actionInput{
    height: 50px;
}

.actionItems{
    height: 200px;
}

.actionItem__item{
    height: 40px;
    background-color: gray;
    margin: 3px;
}