body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.challenge1,.challenge2,.challenge3,.challenge4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    border: 2px solid #666;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.challenge1-flexbox,.challenge2-flexbox,.challenge3-flexbox{
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 10px 0;
}

.challenge1-result{
    width: 100%;
    text-align: center;
    padding: 5px;
    line-height: 20px;
    font-size: 20px;
}

/* Challenge 2 */

.challenge2 .flexbox-result{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

.challenge2-result.flexbox-result img{
    margin: 15px 0;
    height: 150px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Challenge 3 */

.challenge3-flexbox img, .challenge3-result img{
    width:150px;
    height:150px;
}

.challenge3-flexbox img:hover{
    box-shadow: 0 10px 20px rgba(7, 11, 255, 0.466), 0 6px 6px rgba(7, 11, 255, 0.466);
}

.challenge3-result.flexbox-result{
    margin: 15px 0;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrap-button{
    position: relative;
    display: block;
    bottom: 10px;
    margin: 10px auto;
}

.challenge3-result.not-visible,.challenge3-flexbox.not-visible,.wrap-button.not-visible{
    display: none;
}

.challenge3-result #resultMessage{
    font-size: 45px;
    min-width: 300px;
    text-align: center;
}

#humanChoice{
    box-shadow: 0 10px 20px rgba(7, 11, 255, 0.466), 0 6px 6px rgba(7, 11, 255, 0.466);
}

#botChoice{
    box-shadow: 0 10px 20px rgba(255, 30, 30, 0.466), 0 6px 6px rgba(253, 37, 37, 0.466);
}